<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a1216qdf.senseofsecurity">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:hardwareAccelerated="false">
        <activity
            android:name="com.example.a1216qdf.senseofsecurity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.a1216qdf.senseofsecurity.GenderInforActivity"
            android:label="@string/title_activity_gender_infor"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.a1216qdf.senseofsecurity.MainActivity" />
        </activity>
        <activity android:name="com.example.a1216qdf.senseofsecurity.RouteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.a1216qdf.senseofsecurity.MainActivity" />
        </activity>
        <activity android:name="com.example.a1216qdf.senseofsecurity.SosBellActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.a1216qdf.senseofsecurity.MainActivity" />
        </activity>
        <activity
            android:name="com.example.a1216qdf.senseofsecurity.intro.DefaultIntro"
            android:label="DefaultIntro"
            android:theme="@style/FullscreenTheme" />
        <activity android:name="com.example.a1216qdf.senseofsecurity.SafePhoneActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.a1216qdf.senseofsecurity.MainActivity" />
        </activity>


    </application>

</manifest>